@page "/outsourcingitems/details"
@using Microsoft.EntityFrameworkCore
@using BlazorAppScaffold.Models
@inject IDbContextFactory<BlazorAppScaffold.Data.BlazorAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>OutsourcingItem</h2>
    <hr />
    @if (outsourcingitem is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">ExtInvoiceId</dt>
            <dd class="col-sm-10">@outsourcingitem.ExtInvoiceId</dd>
            <dt class="col-sm-2">Item</dt>
            <dd class="col-sm-10">@outsourcingitem.Item</dd>
            <dt class="col-sm-2">ProjectType</dt>
            <dd class="col-sm-10">@outsourcingitem.ProjectType</dd>
            <dt class="col-sm-2">OfferEuro</dt>
            <dd class="col-sm-10">@outsourcingitem.OfferEuro</dd>
            <dt class="col-sm-2">CurrencyType</dt>
            <dd class="col-sm-10">@outsourcingitem.CurrencyType</dd>
            <dt class="col-sm-2">Percentage</dt>
            <dd class="col-sm-10">@outsourcingitem.Percentage</dd>
            <dt class="col-sm-2">OfferHours</dt>
            <dd class="col-sm-10">@outsourcingitem.OfferHours</dd>
            <dt class="col-sm-2">DepartmentsId</dt>
            <dd class="col-sm-10">@outsourcingitem.DepartmentsId</dd>
            <dt class="col-sm-2">DoneHours</dt>
            <dd class="col-sm-10">@outsourcingitem.DoneHours</dd>
            <dt class="col-sm-2">ItemProcessStatus</dt>
            <dd class="col-sm-10">@outsourcingitem.ItemProcessStatus</dd>
            <dt class="col-sm-2">Comments</dt>
            <dd class="col-sm-10">@outsourcingitem.Comments</dd>
            <dt class="col-sm-2">PaymentStatusId</dt>
            <dd class="col-sm-10">@outsourcingitem.PaymentStatusId</dd>
        </dl>
        <div>
            <a href="@($"/outsourcingitems/edit?id={outsourcingitem.Id}")">Edit</a> |
            <a href="@($"/outsourcingitems")">Back to List</a>
        </div>
    }
</div>

@code {
    private OutsourcingItem? outsourcingitem;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        outsourcingitem = await context.OutsourcingItems.FirstOrDefaultAsync(m => m.Id == Id);

        if (outsourcingitem is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
