@page "/rfqs/details"
@using Microsoft.EntityFrameworkCore
@using BlazorAppScaffold.Models
@inject IDbContextFactory<BlazorAppScaffold.Data.BlazorAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Rfq</h2>
    <hr />
    @if (rfq is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">RfqName</dt>
            <dd class="col-sm-10">@rfq.RfqName</dd>
            <dt class="col-sm-2">Date</dt>
            <dd class="col-sm-10">@rfq.Date</dd>
            <dt class="col-sm-2">BranchId</dt>
            <dd class="col-sm-10">@rfq.BranchId</dd>
            <dt class="col-sm-2">ClientShortName</dt>
            <dd class="col-sm-10">@rfq.ClientShortName</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@rfq.Description</dd>
            <dt class="col-sm-2">RfqFolderName</dt>
            <dd class="col-sm-10">@rfq.RfqFolderName</dd>
            <dt class="col-sm-2">RfqStatus</dt>
            <dd class="col-sm-10">@rfq.RfqStatus</dd>
        </dl>
        <div>
            <a href="@($"/rfqs/edit?id={rfq.Id}")">Edit</a> |
            <a href="@($"/rfqs")">Back to List</a>
        </div>
    }
</div>

@code {
    private Rfq? rfq;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        rfq = await context.Rfqs.FirstOrDefaultAsync(m => m.Id == Id);

        if (rfq is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
